

.search{
    display: block;
    
}
.input {
    height: 34px;
    display: flex;
    flex: 100%;
    margin-left: 30px;
    margin-top: 5px;
    padding: 0;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: rgba(0,0,0,.87);
    
}
.input:focus {
    outline: none;
}
.input_div {
    display: flex;
    height: 44px;
    background-color: #fff;
    box-shadow: none;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    max-width: 588px;
    width: auto;
    margin: 0px auto;
}
.submit {
    align-items: center;
    
}
.submit input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.buttons:hover {
    border: 1px solid #dfe1e5;
}
.input_div:hover {
    box-shadow: 0px 0px 5px #888888 ;
}
#result {
    display: flex;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    
}
.rs {
    display: block;
    border: #3c4043;
}
.fw-bold a {
    text-decoration: none;
}
.fw-bold a:hover {
    text-decoration: underline;
}